@using ExercicioAccenture.Models

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form method="post" asp-controller="Home" asp-action="ShowMarkets">
        <select name="Coin1" asp-items="ViewBag.CoinList"></select>
        <select name="Coin2" asp-items="ViewBag.CoinList"></select>
        <input type="submit" value="Enviar"/>
    </form>
</body>
</html>