@using ExercicioAccenture.Models

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form method="post" asp-controller="Home" asp-action="ShowMarkets">
        From coin
        <select name="coin1" asp-items="ViewBag.CoinList" autofocus></select>
        to coin
        <select name="coin2" asp-items="ViewBag.CoinList"></select>
        <input type="submit" value="Check"/>
    </form>
</body>
</html>